<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.longIt.ecshop.mapper.ShopCarMapper">


     <!-- 根据用户id获取购物车商品信息  -->
     <select id="getShopCarByUserId" resultMap="shopCarMapper">
         SELECT * FROM ec_shopcar WHERE user_id = #{id}
     </select>
     
     
     <!-- 根据用户id以及商品id获取购物车中的当前用户购物车的商品信息  -->
     <select id="getShopCarByArticleIdAndUserId" resultMap="shopCarMapper">
         select * from ec_shopcar where article_id = #{shopId} and user_id = #{userId}
     </select>

     <!-- 当字段名与属性名不一致时，需要做字段映射 -->
     <resultMap type="ShopCar" id="shopCarMapper">
        <result column="buy_num" property="buyNum"/>
        <!-- 根据商品id关联查询商品信息 -->
        <association property="article" column="article_id" select="org.longIt.ecshop.mapper.ArticleMapper.getArticleById"></association>
     </resultMap>
</mapper>